.webchat__basic-transcript__focus-indicator {
    border: 0 !important; // chat inner box - remove border on focus
}

.webchat__basic-transcript__activity-indicator {
    border: 0 !important; // bubble - remove dashed border on focus
}

.webchat__suggested-actions__focus-indicator {
    border: 0 !important; // suggested action wrapper - remove border on focus
}

.webchat__suggested-action {
    border-color: var(--suggested-action-border-color) !important;
    border-style: var(--suggested-action-border-style) !important;
    border-width: var(--suggested-action-border-width) !important;
    border-radius: var(--suggested-action-border-radius) !important;

    cursor: pointer;

    &:hover {
        transform: none;
    }
}

.webchat__adaptive-card-renderer {
    .ac-textBlock {
        font-size: rem(16) !important;
    }

    .ac-pushButton {
        padding: rem(8) rem(10) !important;

        font-size: rem(13);

        border-color: var(--color-primary) !important;
        border-radius: rem(4);
        cursor: pointer;

        &[aria-pressed='true'] {
            background-color: var(--color-primary) !important;
        }
    }
}

.webchat__scroll-to-end-button {
    right: auto !important;
    bottom: 0 !important;
    left: 50%;

    padding: rem(5) rem(8) !important;

    font-weight: bold;

    border-radius: rem(4) rem(4) 0 0 !important;
    transform: translate(-50%, 0);
    cursor: pointer;

    &::before {
        display: inline-block;
        margin-right: rem(7);
        margin-bottom: rem(2);
        padding: rem(3);

        border: solid #FFFFFF;
        border-width: 0 rem(3) rem(3) 0;
        transform: rotate(45deg);

        content: '';
    }
}

.webchat__send-box {
    margin: var(--send-box-margin);

    .webchat__upload-button {

        align-self: var(--send-box-upload-align-self) !important;

        width: var(--send-box-upload-width);

        height: var(--send-box-upload-height);

        overflow: hidden;

        background-color: var(--send-box-upload-backgroundColor) !important;

        border-radius: var(--send-box-upload-border-radius);

        border-bottom-left-radius: var(--wrapper-border-radius);

        svg {
            fill: var(--send-box-upload-color) !important;
        }
    }

    .webchat__send-button {

        align-self: var(--send-box-send-align-self) !important;

        width: var(--send-box-send-width) !important;

        height: var(--send-box-send-height);

        overflow: hidden;

        background-color: var(--send-box-send-backgroundColor) !important;

        border-radius: var(--send-box-send-border-radius);

        .webchat__icon-button__shade {
            border-bottom-right-radius: var(--wrapper-border-radius) !important;
        }

        svg {
            fill: var(--send-box-send-color) !important;
        }

        &:hover {
            .webchat__icon-button__shade {
                background-color: var(--send-box-send-hoverBackgroundColor) !important;
            }
        }
    }
}
