#spinoco-webchat-plugin {
  .swp-header {
    display: flex;
    align-items: center;
    padding: .5rem;

    color: #FFFFFF !important;

    cursor: pointer;

    .swp-header-logo {
      height: var(--header-logo-height);
    }

    .swp-header-close {
      margin-left: auto;

      color: #FFFFFF;
      font-size: 1.5rem;
      line-height: 1rem;

      img,
      svg {
        height: var(--header-close-height);
      }
    }
  }
}
