#spinoco-webchat-plugin {
    .swp-header {
        z-index: 1; // make sure header is always above the loader

        display: flex;
        align-items: center;
        padding: rem(8);


        color: #FFFFFF !important;

        cursor: pointer;

        .swp-header-logo {
            height: var(--header-logo-height);
        }

        .swp-header-title {
            padding-left: rem(8);
        }

        .swp-header-close {
            margin-right: 4px;
            margin-left: auto;

            color: #FFFFFF;
            font-size: rem(24);
            line-height: rem(16);

            img,
            svg {
                height: var(--header-close-height);

                fill: var(--header-close-color);
            }
        }
    }
}
