#spinoco-webchat-plugin {
    .swp-popover {
        position: fixed;
        right: 1.25rem;
        bottom: 100px;
        z-index: -1;
        pointer-events: all;

        width: 330px;

        overflow: hidden;

        box-shadow: rgba(100, 100, 111, .2) 0 .7rem 2.9rem 0;

        @include mobile {
            width: calc(100% - 2.5rem);
        }


        .close-btn {
            position: absolute;

            top: 15px;

            right: 15px;

            display: flex;

            align-items: center;

            width: 15px;

            height: 15px;

            cursor: pointer;

        }

        &-head {
            position: relative;

            padding: 15px;

            border-bottom: 2px solid transparent;

            img {
                height: var(--popover-head-logo-height);
            }

        }


        &-body {
            padding: 15px;

            border-bottom-right-radius: 16px;
            border-bottom-left-radius: 16px;

            h3 {
                font-size: initial;
            }

            button {
                margin-top: 15px;

                font-weight: 700;

                border-radius: var(--popover-button-border-radius);

                @include mobile {
                    width: 100%;
                }

                &.full-width {
                    width: 100%;
                }

                svg {
                    width: 15px;
                    height: 15px;
                }

                .sw-popover-button-label {
                    margin-left: 10px;

                    font-weight: 700 !important;
                }

                &:hover {
                    background-color: var(--popover-button-hover-background-color) !important;
                    transform: none;
                }
            }
        }
    }
}
