#spinoco-webchat-plugin {
  .swp-trigger {
    position: fixed;
    right: rem(20);
    bottom: rem(20);

    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(50);
    height: rem(50);

    border-radius: 100%;
    cursor: pointer;

    img,
    svg {
      height: var(--trigger-icon-height);
    }
  }
}
