#spinoco-webchat-plugin {
    .swp-trigger {
        position: fixed;
        right: rem(20);
        bottom: rem(20);

        z-index: var(--trigger-zindex);

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--trigger-background-color);

        cursor: pointer;

        pointer-events: all;

        img,
        svg {
            height: var(--trigger-icon-height) !important;

            fill: var(--trigger-icon-color) !important;
        }
    }
}
