<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spinoco webchat plugin</title>
</head>

<body class="bg-gray-100">

<header class="bg-white p-4 m-4 rounded-md">
    <nav class="flex items-center justify-between" aria-label="Global">
        <div class="flex lg:flex-1">
            <img class="h-8" src="logo.svg" alt="Spinoco">
        </div>
        <div class="lg:flex lg:flex-1 lg:justify-end">
            <a href="https://spinoco.com/" target="_blank" class="inline-flex items-center justify-center px-4 py-2 font-bold leading-6 text-white bg-primary rounded-full md:w-auto hover:bg-gray-800">
                <span>Spinoco.com</span>
                <span class="ml-2">→</span>
            </a>
        </div>
    </nav>
</header>

<main class="m-4">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900 mb-4">Spinoco webchat plugin</h1>

    <p class="mb-4 text-sm text-gray-600">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>

    <h2 class="text-xl font-bold tracking-tight text-gray-900 mb-1">How to use webchat plugin</h2>

    <p class="mb-2 text-sm text-gray-600">Insert snippet before <code class="bg-gray-200 p-1 rounded-md text-xs text-black">&lt;/body&gt;</code> tag:</p>

    <div class="bg-gray-200 p-4 rounded-md text-sm mb-6">
        <code class="text-black">
            &lt;div id=&quot;spinoco-webchat-plugin&quot; data-client-id=&quot;fillme&quot; data-customer-name=&quot;fillme&quot; data-customer-email=&quot;fillme&quot; data-avatar-user-url=&quot;fillme&quot; data-avatar-bot-url=&quot;fillme&quot;&gt;&lt;/div&gt; <br>
            &lt;script src=&quot;https://spinoco.github.io/webchat-plugin/assets/spinoco-webchat-plugin.js&quot;&gt;&lt;/script&gt;
        </code>
    </div>

    <h2 class="text-xl font-bold tracking-tight text-gray-900 mb-1">Examples of webchat plugin usage</h2>

    <div class="bg-white divide-y rounded-md mb-6">
        <div class="md:flex items-center justify-between p-4">
            <div class="flex-1">
                <h3 class="font-bold text-gray-900">Basic</h3>
                <p class="text-sm text-gray-600">Anim aute id magna aliqua ad ad non deserunt sunt.</p>
            </div>
            <div class="flex flex-1 md:justify-end mt-2 md:mt-0">
                <a href="<%= basePath %>/examples/basic.html" class="text-sm inline-flex items-center justify-center px-3 py-1 font-bold leading-6 text-white bg-primary rounded-full md:w-auto hover:bg-gray-800">
                    <span>Show example</span>
                </a>
            </div>
        </div>
        <div class="md:flex items-center justify-between p-4">
            <div class="flex-1">
                <h3 class="font-bold text-gray-900">Slevomat</h3>
                <p class="text-sm text-gray-600">Anim aute id magna aliqua ad ad non deserunt sunt.</p>
            </div>
            <div class="flex flex-1 md:justify-end mt-2 md:mt-0">
                <a href="<%= basePath %>/examples/slevomat.html" class="text-sm inline-flex items-center justify-center px-3 py-1 font-bold leading-6 text-white bg-primary rounded-full md:w-auto hover:bg-gray-800">
                    <span>Show example</span>
                </a>
            </div>
        </div>
        <div class="md:flex items-center justify-between p-4">
            <div class="flex-1">
                <h3 class="font-bold text-gray-900">Zásilkovna</h3>
                <p class="text-sm text-gray-600">Anim aute id magna aliqua ad ad non deserunt sunt.</p>
            </div>
            <div class="flex flex-1 md:justify-end mt-2 md:mt-0">
                <a href="<%= basePath %>/examples/zasilkovna.html" class="text-sm inline-flex items-center justify-center px-3 py-1 font-bold leading-6 text-white bg-primary rounded-full md:w-auto hover:bg-gray-800">
                    <span>Show example</span>
                </a>
                <a href="<%= basePath %>/examples/zasilkovna-minified.html" class="ml-2 text-sm inline-flex items-center justify-center px-3 py-1 font-bold leading-6 text-white bg-primary rounded-full md:w-auto hover:bg-gray-800">
                    <span>Minified</span>
                </a>
            </div>
        </div>
        <div class="md:flex items-center justify-between p-4">
            <div class="flex-1">
                <h3 class="font-bold text-gray-900">Lottie</h3>
                <p class="text-sm text-gray-600">Lottie icon animation with box shadow feature.</p>
            </div>
            <div class="flex flex-1 md:justify-end mt-2 md:mt-0">
                <a href="<%= basePath %>/examples/lottie.html" class="text-sm inline-flex items-center justify-center px-3 py-1 font-bold leading-6 text-white bg-primary rounded-full md:w-auto hover:bg-gray-800">
                    <span>Show example</span>
                </a>
            </div>
        </div>
    </div>

    <h2 class="text-xl font-bold tracking-tight text-gray-900 mb-1">How to develop features to webchat plugin</h2>
    <p class="text-sm text-gray-600">Learn more in <a href="https://github.com/Spinoco/webchat-plugin" class="text-primary" target="_blank">Github repository</a>.</p>

    <hr class="mt-4"/>
    <p class="text-sm mt-2 text-gray-400">
        <a href="https://spinoco.com/" target="_blank">Spinoco.com</a>
    </p>
</main>
<script type="module" src="src/spinoco-examples.tsx"></script>
</body>

</html>
